/* 
    Auteur:         Stan Verbeek
    Aanmaakdatum:   28-2-2023

    Website Tandarts Den Bosch
*/
/* Import fonts */
@font-face 
{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat.ttf");
}
/* padding en margins verwijderen */
body, ul
{
    padding: 0px;
    margin: 0px;
    font-family: Montserrat, serif;
}

/* Styling Logo*/
header
{
    width: 100%;
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #logo
{
    padding-top: 30px;
}

/* Verbergen hamburger menu */
#hamburgerMenu
{
    display: none;
}

/* Centreren menu */
nav
{
    width: 90%;
    padding-top: 30px;
    margin: 0px auto;
}
/* Opmaak menu */
ul
{

    list-style: none;
}
.menuItems 
{
    color: black;
    text-decoration: none;
    box-sizing: border-box;
    width: 12.5%;
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
}
.menuItems:hover
{
    border-bottom: 2px solid black;
}

/* Opmaak banner met text en buttons*/
#banner
{
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)), url(../images/banner.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    text-align: center;
    font-family: Montserrat;
    color: white;
    margin-top: 50px;
}
#banner h1
{
    padding-top: 30px;
    font-size: 40px;
}
#banner h2
{
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}
#banner p
{
    margin-top: 50px;
}
#button1
{
    margin-left: 20px;
}
#button1, #button2, #meerInfoArticle button, #antwoorden
{
    border: 2px solid black;
    padding: 8px;
    font-weight: 500;
    margin-right: 20px;
    font-family: Montserrat;
}
#button1:hover, #antwoorden:hover
{
    background-color: black;
    color: white;
    transition: 0.3s;
}
#button2, #meerInfoArticle button
{
    background-color: black;
    color: white;
}

/* Styling afspraak atricle */
#afspraakArticle, #meerInfoArticle
{
    text-align: center;
}
#afspraakArticle h2
{
    color: #3ab893;
    font-size: 35px;
    font-weight: 400;
}
#afspraakArticle p, #meerInfoArticle p
{
    font-size: 25px;
}

#afspraakArticle img
{
    width: 40%;
    min-width: 400px;
}
/* Styling meer info article */
#meerInfoArticle
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.265), rgba(0, 0, 0, 0.265)), url(../images/bannerMeerInfo.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 400px;
    padding-top: 10%;
}
/* Opmaak enquête */
section
{
    margin-top: 100px;
    text-align: center;
}
#antwoorden
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;

}
.vragenImages
{
    margin-top: 20px;
    width: 20%;
    min-width: 400px;
}

/* Afbeelding verbergen */
#afbeeldingResultaat
{
    display: none;
    width: 60%;
}

/* Styling footer */
footer
{
    text-align: center;
    width: 100%;
    font-size: 20px;
    background-color: #2B2B2B;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* Media screen voor telefoon */
@media screen and (max-width: 1000px)
{
    /* Hamburger menu laten zien */
    .menuItems
    {
        display: none; 
    }
    /* Opmaak hamburger menu */
    #hamburgerMenu
    {
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        width: 5%;
        min-width: 30px;
    }
    /* Margin weghalen */
    #banner 
    {
        margin-top: 0px;
    }
    /* Section uitlijnen */
    section
    {
        margin-top: 0px;
    }
}
